
.highlighted-row {
  background-color: #ffeb3b !important; /* Colore evidenziato */
}


/*.custom-table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  border: 2px solid #ddd
}*/

.table {
  flex-grow: 1; /* La tabella si espande per occupare lo spazio disponibile */
  overflow-y: auto; /* Abilita lo scroll all'interno della tabella */
  min-height: 50vh; /* Imposta un'altezza minima per garantire la visibilità */
}

/**/
.custom-table-wrapper-main {
  position: relative;
  max-height: calc(100vh - 250px); 
  overflow: hidden;
  /*border: 2px solid #ddd;*/
}

.table-scroll-main {
  max-height: calc(100vh - 250px); /* Adatta alla viewport meno un margine */
  overflow-y: auto; /* Abilita lo scroll verticale */
}

.custom-table-wrapper-secondary {
  position: relative;
  max-height: calc(100vh - 80px); 
  overflow: hidden;
  /*border: 2px solid #ddd;*/
}

.table-scroll-secondary {
  max-height: calc(100vh - 80px); /* Adatta alla viewport meno un margine */
  overflow-y: auto; /* Abilita lo scroll verticale */
}

.custom-table thead th {
  position: sticky;
  top: 0; /* Fissa l'header in alto */
  z-index: 0; /* Mantiene l'header sopra il corpo */
}

.filters{
  background-color: white;
  padding-bottom: 30px;
}

.container-fluid{
  border-top: solid 2px #ddd;
}