.leaflet-container {
    width: 100%;
    height: calc(100vh - 80px); /* Rimuovi l'altezza dell'header */
    margin: 0;
    padding: 0;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; /* Meno dell'header */
}

.container-fluid.map-container {
    margin: 0;
    padding: 0;
    width: 100%;
}
