.title-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-radius: 5px;
}

.add-document-container {
    position: absolute;
    bottom: 15%;
    right: 20px;
    z-index: 1000; /* Assicura che sia visibile sopra la mappa */
}


@media (max-width: 650px) {
    .add-document-container {
        bottom: 200px;
        right: 20px; 
        z-index: 1000;
    }
    .container-fluid {
        height: 100vh; 
        position: relative; 
    }
    
    
}

