.leaflet-container {
  width: 100%;
  height: calc(100vh - 80px);
  /* Rimuovi l'altezza dell'header */
  margin: 0;
  padding: 0;
}

.leaflet-control-zoom {
  display: none;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Meno dell'header */
}

.container-fluid.map-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.files {
  width: fit-content;
  width: 50px;
  height: 50px;
}

.download-buttons-container {
  padding-top: 10px;
  display: flex;
  /* Disposizione orizzontale dei bottoni */
  flex-wrap: wrap;
  /* Permette di andare a capo se non c'è abbastanza spazio */
  gap: 20px;
  /* Spaziatura tra i gruppi bottone/testo */
  justify-content: flex-start;
  /* Centra i bottoni nel contenitore */
}

.download-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  text-align: center;
}

.file-name {
  margin-top: 5px;
  font-size: 14px;
  word-wrap: break-word;
  max-width: 100%;
}

.btn-municipality {
  position: absolute;
  bottom: 5%;
  left: 20px;
  z-index: 1000;
  /* Assicura che sia visibile sopra la mappa */
}

.search-document {
  backdrop-filter: blur(10px);
  border: 1px solid;
  border-radius: 10px;
  padding: 0 10px;
  position: absolute;
  top: 1%;
  left: 37%;
  z-index: 1000;
  /* Assicura che sia visibile sopra la mappa */
}

.filters-documents-map {
  position: absolute;
  top: 1.1%;
  /* Allineato alla stessa altezza di .search-document */
  left: calc(43% - 260px);
  /* Sposta .filters a sinistra rispetto a .search-document, puoi regolare 200px in base alla larghezza */
  z-index: 1000;
}