/* Generale */
.header-wrapper .container-fluid {
    background-color: #5F78A1;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Stile del logo */
.header-left {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    margin-right: 15px;
    cursor: pointer;
}

.separator {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
}

/* Stile del menu */
.header-center {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;
}

nav ul li a:hover {
    background: #1B9BFF;
    transition: 0.5s;
}

/* Pulsante login/logout */
.header-right {
    display: flex;
    align-items: center;
}

.logout-btn, .login-btn {
    background-color: #9ec5f7;
    color: black;
    border: 1px solid;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.logout-btn:hover, .login-btn:hover {
    background-color: #9ec5f7de;
}

/* Responsività */
@media (max-width: 650px) {
    .header-wrapper .container-fluid {
        flex-direction: column;
        height: auto;
    }

    .header-left, .header-center, .header-right {
        justify-content: center;
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .logout-btn, .login-btn {
        margin-top: 10px;
    }
}
